.q-no-box {
    margin: 1rem;
    width: 3rem;
    height: 3rem;
    padding: 0;
    cursor: pointer;
}

.active-q-no {
    border: 2px solid #24292d !important;
}

.answered {
    background: #E0F2F1;
    border: 0.5px solid;
}

.actions {
    display: flex;
    margin-top: 2rem;
    
    .left {
        width: 50%;
        display: flex;
        justify-content: flex-start;

        button {
            margin-right: 3rem;
        }
    }

    .right {
        width: 50%;
        display: flex;
        justify-content: right;
    }
}

.result {
    .score table {
        font-size: 1.2rem;
    }

    .circle {
        margin: 1rem;
    }

    .correct-ans {
        margin: 2rem -5rem;
        padding: 2rem;
        background: #fff;
    }
}